@charset "UTF-8";
* {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 22.5px;
  }
}

@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 23.5px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 12px;
  }
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

q:before, q:after {
  content: '';
}

/* 消除q前后的内容 */
button, input, select, textarea {
  font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */
img {
  border: none;
  vertical-align: middle;
}

ul, ol, li {
  list-style-type: none;
}

body {
  font: 1rem/1.8 "Microsoft YaHei", "微软雅黑", "Heiti SC", "helvetica neue LT";
  color: #666;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f90;
  text-decoration: none;
}

a:focus, input:focus {
  outline: 0;
}

.fl, .left {
  float: left;
}

.fr, .right {
  float: right;
}

.t_l {
  text-align: left;
}

.t_c {
  text-align: center;
}

.t_r {
  text-align: right;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

.wrapper {
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.top {
  background-color: #f9f9f9;
}

.top .container {
  height: 60px;
  line-height: 60px;
  position: relative;
  text-align: center;
}

.top .logo a {
  width: 170px;
  height: 100%;
  background: url(../images/logo.png) no-repeat left center;
  display: block;
  text-indent: -999em;
}

.top .nav a, .top .nav span {
  float: left;
}

.top .nav a {
  display: inline-block;
  padding: 0 15px;
}

.bx_foot .bx_link {
  margin-right: 25px !important;
}

.bx_foot .bx_link dl {
  padding-right: 25px !important;
}

.mobilePage {
  margin: 0 auto;
  max-width: 750px;
  background: #db2429;
}

.mobilePage img {
  max-width: 100%;
}

.mobilePage .c-ac7 {
  color: #ac7e24;
}

.mobilePage .txt-voucher {
  color: #ffe82c;
}

.mobilePage .txt-tips {
  font-size: 0.90909rem;
  color: rgba(255, 255, 255, 0.45);
}

.mobilePage .txt-risk {
  margin: 1.63636rem 0;
  text-align: center;
}

.mobilePage .txt-rule {
  margin-bottom: 1.45455rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.mobilePage .txt-rule i {
  display: inline-block;
  margin: 0 0.63636rem;
  vertical-align: middle;
  width: 2.72727rem;
  height: 2px;
  background: #fc474d;
  background: -webkit-linear-gradient(left, rgba(252, 71, 77, 0.1), rgba(252, 71, 77, 0.4) 30%, #fc474d);
}

.mobilePage .txt-rule i + i {
  background: -webkit-linear-gradient(right, rgba(252, 71, 77, 0.1), rgba(252, 71, 77, 0.4) 30%, #fc474d);
}

.mobilePage .lottery-wrap {
  width: 100%;
  padding: 0 1.81818rem;
  padding-bottom: 4.54545rem;
  font-size: 1.09091rem;
  color: #fff;
  text-align: justify;
  background: url("../images/mobile/lottery.png") repeat-y center;
  background-size: 100%;
}

.mobilePage .lottery-rule {
  width: 100%;
  padding: 0.54545rem 1.09091rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #c8181c;
}

.mobilePage .lottery-rule li::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -1%;
  left: 0;
  margin-right: 0.45455rem;
  width: 2%;
  padding-top: 2%;
  background: #ff6066;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.mobilePage .lottery-rule li + li {
  margin-top: 0.81818rem;
}

.mobilePage .ferris-wheel {
  position: relative;
  padding-top: 105%;
  background: url("../images/mobile/ferris-wheel.png") no-repeat top center;
  background-size: 100%;
}

.mobilePage .txt-Winning {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.mobilePage .txt-Winning span {
  margin: 0 0.90909rem;
  text-decoration: underline;
  cursor: pointer;
}

.mobilePage .btn-invite {
  display: block;
  margin: 1.90909rem auto 0;
  width: 85%;
  height: 4.72727rem;
  line-height: 4.72727rem;
  font-size: 2.09091rem;
  font-weight: bold;
  color: #d82126;
  text-align: center;
  background: #febf00;
  box-shadow: 0 -2px 5px #eba000 inset;
  -webkit-box-shadow: 0 -2px 5px #eba000 inset;
  -moz-box-shadow: 0 -2px 5px #eba000 inset;
  -o-box-shadow: 0 -2px 5px #eba000 inset;
  -ms-box-shadow: 0 -2px 5px #eba000 inset;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.mobilePage .description {
  padding: 3.36364rem 0.90909rem 0;
}

.mobilePage .carnival-rule {
  padding: 3.18182rem 1.36364rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #eb2e33;
  box-shadow: 0 8px 8px rgba(215, 32, 37, 0.36);
  -webkit-box-shadow: 0 8px 8px rgba(215, 32, 37, 0.36);
  -moz-box-shadow: 0 8px 8px rgba(215, 32, 37, 0.36);
  -o-box-shadow: 0 8px 8px rgba(215, 32, 37, 0.36);
  -ms-box-shadow: 0 8px 8px rgba(215, 32, 37, 0.36);
}

.mobilePage .rule-desc {
  padding: 0 0 1.63636rem 0;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
  background: #eb2e33;
}

.mobilePage .rule-desc .desc-title {
  margin-bottom: 0.90909rem;
  font-size: 1.45455rem;
  color: #ffe82c;
  font-weight: bold;
  text-align: center;
}

.mobilePage .carnival-con {
  border: 2px solid #fc474d;
  width: 100%;
  padding: 0.90909rem;
  background: #d92227;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.mobilePage .carnival-txt {
  width: 100%;
  padding: 1.18182rem;
  font-size: 1.09091rem;
  color: #fff;
  background: #eb2e33;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.mobilePage .voucher {
  padding: 0.63636rem 0;
}

.mobilePage .voucher .img-voucher {
  margin: 1.81818rem auto;
  width: 13.54545rem;
  height: 7.68182rem;
  padding-left: 2.54545rem;
  padding-top: 1.36364rem;
  line-height: 1;
  font-size: 1.18182rem;
  color: #dcad54;
  text-align: center;
  background: url("../images/mobile/voucher.png") no-repeat center;
  background-size: 100%;
}

.mobilePage .voucher .img-voucher strong {
  font-size: 4.54545rem;
  color: #e71c18;
}

.mobilePage .voucher .img-voucher strong span {
  font-size: 2.36364rem;
}

.mobilePage .red-list li {
  width: 50%;
  float: left;
}

.mobilePage .red-list .red-wrap {
  margin: 1.09091rem auto;
  width: 7.36364rem;
  height: 8.72727rem;
  padding-top: 3.36364rem;
  line-height: 1.2;
  font-size: 1.09091rem;
  color: #feca11;
  text-align: center;
  background: url("../images/mobile/red-img.png") no-repeat center;
  background-size: 100%;
}

.mobilePage .red-list .red-wrap .red-money {
  font-size: 2.81818rem;
}

.mobilePage .red-list .red-wrap .red-money span {
  font-size: 1.18182rem;
}

.mobilePage .invest-list table, .mobilePage .bomb table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 2.45455rem;
  width: 100%;
  font-size: 1rem;
  color: #b64d27;
  text-align: center;
  background: #FFD57C;
}

.mobilePage .invest-list td, .mobilePage .invest-list th, .mobilePage .bomb td, .mobilePage .bomb th {
  padding: 2% 0;
  border-collapse: collapse;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobilePage .invest-list th, .mobilePage .bomb th {
  padding: 4% 0;
}

.mobilePage .invest-list tr td:not(:last-child), .mobilePage .bomb tr td:not(:last-child) {
  border-right: 1px solid #ffedcd;
}

.mobilePage .invest-list tr th:not(:last-child), .mobilePage .bomb tr th:not(:last-child) {
  border-right: 1px solid #ffedcd;
}

.mobilePage .invest-list tr:first-child th, .mobilePage .bomb tr:first-child th {
  background: #ffb933;
  border-bottom: 1px solid #fcc16f;
}

.mobilePage .invest-list .seniority tr:nth-child(odd) td, .mobilePage .bomb .seniority tr:nth-child(odd) td {
  background: #ffcb5d;
  border-top: 1px solid #fcc16f;
  border-bottom: 1px solid #fcc16f;
}

.mobilePage .invest-list .prize tr:nth-child(even) td, .mobilePage .bomb .prize tr:nth-child(even) td {
  background: #ffcb5d;
  border-top: 1px solid #fcc16f;
  border-bottom: 1px solid #fcc16f;
}

.mobilePage .invest-list .ranking, .mobilePage .bomb .ranking {
  display: inline-block;
  padding-top: 0.09091rem;
  width: 1.40909rem;
  height: 1.68182rem;
  vertical-align: middle;
  font-style: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.mobilePage .invest-list .ranking-1, .mobilePage .bomb .ranking-1 {
  background-image: url("../images/mobile/ranking-1.png");
}

.mobilePage .invest-list .ranking-2, .mobilePage .bomb .ranking-2 {
  background-image: url("../images/mobile/ranking-2.png");
}

.mobilePage .invest-list .ranking-3, .mobilePage .bomb .ranking-3 {
  background-image: url("../images/mobile/ranking-3.png");
}

.mobilePage .rule-list {
  text-align: justify;
  font-size: 0.81818rem;
}

.mobilePage .rule-list li + li {
  margin-top: 0.45455rem;
}

.mobilePage .bomb {
  padding: 2.27273rem 1.45455rem 1.90909rem;
  background: #fff;
}

.mobilePage .bomb .btn-closed {
  margin: 2.36364rem auto 0;
  display: block;
  width: 18.5rem;
  height: 3.18182rem;
  line-height: 3.18182rem;
  font-size: 1.09091rem;
  color: #fff;
  text-align: center;
  border: none;
  background: #2d449f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.mobilePage .bomb ul {
  padding: 0 0.72727rem;
}

.mobilePage .bomb .envelope-rule {
  font-size: 0.81818rem;
  color: #666;
}

.mobilePage .bomb .envelope-rule span {
  color: #ecb81c;
}

.mobilePage .address-bomb label {
  display: block;
  width: 100%;
  font-size: 0;
  margin-bottom: 10%;
}

.mobilePage .address-bomb span {
  display: inline-block;
  font-size: 1.27273rem;
  height: 2.09091rem;
  line-height: 2.09091rem;
}

.mobilePage .address-bomb span:first-child {
  padding-right: 4%;
  width: 28%;
  color: #666;
  text-align: right;
}

.mobilePage .address-bomb span:last-child {
  color: #999;
}

.mobilePage .address-bomb input {
  padding: 1%;
  width: 72%;
  vertical-align: bottom;
  font-size: 1.27273rem;
  height: 2.09091rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.mobilePage .address-bomb button {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 3.63636rem;
  line-height: 3.63636rem;
  background: #2d449f;
  color: #fff;
  outline: none;
  border: none;
}

.mobilePage .sky-demo {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.mobilePage .sky-demo .btn-lottery {
  width: 7.72727rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.noActivity {
  display: none;
  position: absolute;
  bottom: 8%;
  left: 0;
}

.layui-layer-close {
  cursor: pointer;
}

.layui-layer-content ul li {
  font-size: 1rem;
}

@media screen and (max-width: 320px) {
  .mobilePage .sky-demo {
    top: -15%;
  }
}
